.home-user-project li {
    width: 100px;
    height: 100px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    transition: 0.3s;
    margin: 20px;
}

.home-user-project li * {
    line-height: 30px;
    text-align: center;
}

.home-user-project li h5 {
    margin-top: 20px;
}

.home-user-project li:hover {
    transform: scale(1.1) rotate(30deg);
}

